/* PSEUDO CLASS */

/* berhubungan dengan

:link   : style default pada sebuah link (a yang memiliki href)

:hover  : style ketika kursor mouse berada di atas sebuah link/elemen

:active :  style ketika sebuah link di-klik (keadaan aktif)

:visited    : style ketika sebuah link sudah pernah dikunjungi sebelumnya (menggunakan browser yang sama)*/

.hello:link {
    color : red;
}

.hello:hover {
    font-size : 50;
    color : skyblue;
}

.hello:active {
    color : green;
}

.hello:visited {
    color : yellow
}

/* pseudo class yang berhungan dengan posisi elemen */
/* 
:first-child     : memilih elemen pertama dari sebuah parent (elemen pembungkusnya)

:last-child     : memilih elemen terakhir dari sebuah paren

:nth-child(n)   : memilih elemen ke-n dari sebah parent. n bisa berarti urutan 1,2,... atau pola 2n, 3n+2,4n-1 atau ganjil (even) dan genap (odd)*/

li:first-child a {
    color : green;
}

li:last-child a {
    color : yellow;
}

/* link ke-6 */
li:nth-child(6) a {
    color : orange;
}

li:nth-child(3n+6) a {
    color : brown;
}

/* Pseudo Class yang berhubungan dengan posisi elemen 2 */
/* 
:first-of-type  : memilih elemen pertama dari sebuah jenis/tipe tag

:last-of-type   : memilih elemen terakhir dari sebuah jenis/tipe tag
*/

p:first-of-type {
    color : blue;
}

p:last-of-type {
    color  : red;
}